doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Explanations
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/js.js' defer='')
div
  div 
  h1 We are company specializes in producing AI for risk assessment.
  h1 In order to train our algorithms, we still require manual risk assessments.
  h1 On the following pages, you will be presented with various events, and we kindly request that you rate the level of risk associated with each event on a scale from 0 to 100.
  h1 A rating of 0 indicates no danger at all, while a rating of 100 indicates a very high level of risk.
  h1 Thanks you for your participation in this important process.
    br
    br
    form(action='Savedevice' method='POST' onsubmit='')
      button.button(type='Submit') START
    br
