doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title form
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/js.js' defer='')
div
  div
    br
    h1 Login 
  div
    form(action='ValidParticipant' method='POST' onsubmit='')
      label(for='email') Please enter your code
      br
      br
      input#email(type='text' required='' name='code')
      br
      br
      button.button(type='Submit') Next
      br
    .errorMessage #{ParticipantNotExist}
