doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk1
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/js.js' defer='')
div
  div
    br
    h1    Please assess the risk level of the event described below 
    br
  div
    p#RiskDescription
      | you received a message to your Instagram account a message stating that a complaint has been filed against your account for copyright infringement in relation to your last post. 
      br
      | The message claims that deleting the post or canceling its publication will not resolve the issue, and requests that you fill out a form to file an objection if you believe you have not infringed on any copyright.
      br
      | The message also warns that failure to fill out the form within 24-48 hours may result in your account being suspended.
      br
      | The message includes a link to the form that needs to be filled out, but the link has an unknown address and is not affiliated with the Instagram company.
  br
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/Risk3-Group2')
    input(type='hidden' name='RiskID' value='Risk2-Group2')
    .slidecontainer
    label(for='Riskrate') 0 - Not Riski 
    input#myRange(type='range' name='Riskrate' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value")
    label(for='myRange') 100 - Highly Riski
    p#sliderValue 50
    div
    button(type='submit') Submit
