doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk1
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/js.js' defer='')
div
  div
    br
    h1    Please assess the risk level of the event described below 
    br
  div
    p#RiskDescription
      | You receive a text message at seven in the morning from an unknown number on your mobile phone,
      br
      | warning that your internet package is about to expire and instructing you to renew it at a discounted price by clicking on the attached link. 
      br
      | However, the linked address appears to be related to the cellular company but includes additional unrecognized characters.
  br
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/Risk10-Group2') 
    input(type='hidden' name='RiskID' value='Risk9-Group2')
    .slidecontainer
    label(for='Riskrate') 0 - Not Riski 
    input#myRange(type='range' name='Riskrate' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value")
    label(for='myRange') 100 - Highly Riski
    p#sliderValue 50
    div
    button(type='submit') Submit
