doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk1
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/js.js' defer='')
div
  div
    br
    h1    Please assess the risk level of the event described below 
    br
  div
    p#RiskDescription
      | At 8:00 AM, an email was received in your Gmail account from a sender who has used a fake Google email address resembling the original Google address. 
      br
      | The email asserts that Google has updated its login credentials policy and prompts you to confirm your account by logging into Google Docs.
      br
      | . To authenticate the user, the message commenced with your username and email address.
  br
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/Risk8-Group2') 
    input(type='hidden' name='RiskID' value='Risk7-Group2')
    .slidecontainer
    label(for='Riskrate') 0 - Not Riski 
    input#myRange(type='range' name='Riskrate' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value")
    label(for='myRange') 100 - Highly Riski
    p#sliderValue 50
    div
    button(type='submit') Submit
